<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025552509784-1dvmd283k1gq5l2n7s7sce7ofi8qul81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025552509784-1dvmd283k1gq5l2n7s7sce7ofi8qul81</string>
	<key>API_KEY</key>
	<string>AIzaSyCeg5aBLt1c4hYLCnUcE_W096wIGLSvEzo</string>
	<key>GCM_SENDER_ID</key>
	<string>1025552509784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kjsx.MakeFairytale</string>
	<key>PROJECT_ID</key>
	<string>festargram</string>
	<key>STORAGE_BUCKET</key>
	<string>festargram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025552509784:ios:46647431457bc00880132d</string>
	<key>DATABASE_URL</key>
	<string>https://festargram.firebaseio.com</string>
</dict>
</plist>